.LinksPopUp {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 70vw;
  background-color: #1e1e1e;
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 12px;
  z-index: 101;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .exitContainer {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 17px;
    top: 17px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  h1 {
    font-size: 25px;
    font-weight: bold;
    color: white;
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    overflow: hidden;
    li {
      width: 100%;
      text-align: left;
      font-size: 15px;
      text-wrap: wrap;
      a {
        color: #d5734f;
        text-decoration: none;
      }
    }
  }
}

.LinksPopUpBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.508);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(1px);
}
